.vscode/
.idea/
*.swp
*.swo
*~

build/
out/
deploy/

*.elf
*.nso
*.npdm
*.d
*.o
*.obj
*.lst

companion/dist/
companion/build/
companion/*.spec
companion/injector/*.dll
companion/injector/*.obj
companion/*.log
companion/*.txt

mod/build/
mod/deploy/

__pycache__/
*.pyc
*.pyo

*.exe
*.dll
*.so
*.dylib

*.log
.DS_Store
Thumbs.db
